@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}


.navbar {
    max-width: 1920px;
    padding: 10px 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav {
    max-width: 500px;
    display: flex;
    justify-content: space-between;
    gap: 25px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
}

.home {
    color: #f5204b;
}


.section2-container {
    height: 450px;
    background-image: url(./img/home-banner.jpg.webp);
    background-size: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.content {
    padding: 0px 120px;
}

.content h5 {
    font-size: 14px;
    letter-spacing: 1.4px;
}

.content h3 {
    color: #222222;
    font-size: 48px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-top: 7px;
    margin-bottom: 30px;
}

.content h6{
    max-width: 70px;
    padding:  0px 40px;
    background-color: #f5204b;
    font-size: 13px;
    font-weight: 500;
    line-height: 48px;
    color: #fff;
}


.section3-container{
    padding: 100px 50px;
    display: flex;
    justify-content: space-between;
}

.section3-content{
    max-width: 700px;
}


.section3-content h3{
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 1.6px;
    color: #222222;
}

.section3-content p{
    font-size: 14px;
    max-width: 600px;
    line-height: 24px;
    margin-bottom: 40px;
    color: #777777;
}

.content-more{
    max-width: 700px;
    display: flex;
    justify-content: space-between;
}